<table>
    <thead>
    <style>
           
   table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
     
    td, th {
      border: 1px solid #0e0d0d;
      text-align: left;
      padding: 8px;
    }
    tr,th{
        background-color: white;
    }
     
    tr:nth-child(even) {
      background-color:bisque;
    }
    tr:nth-child(odd) {
      background-color:aliceblue;
    }
    </style>

    <tr>
        
        <th>Question</th>
        <th>Option A</th>    
        <th>Option B</th>
        <th>Option C</th>
        <th>Option D</th>
        <th>CorrectAnswer</th>
        <th>DeleteQuestion</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor='let htmlquestion of htmlquestions'>
            
            <td>{{htmlquestion.questions}}</td>
            <td>{{htmlquestion.optionA}}</td>
            <td>{{htmlquestion.optionB}}</td>
            <td>{{htmlquestion.optionC}}</td>
            <td>{{htmlquestion.optionD}}</td>
            <td>{{htmlquestion.correctAns}}</td>
            <td><button  type="button" class="btn btn-link" (click) = "deleteHQuestion(htmlquestion.qid)"><b>Delete Question</b></button></td>
        </tr>
    </tbody>
    </table>

    <a [routerLink] = '"/afteradminlogin"'><h2 style="text-align: center;color: black;">Go to Controls</h2></a><br>


