<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: bisque;
}
</style>
</head>



<body>
<a [routerLink] = '"/addquestionlist"'><h2 style="text-align: center; color: black;">Add Question</h2></a><br>
<a [routerLink] = '"/liststudent"'><h2 style="text-align: center; color: black;">View All Students</h2></a><br>
<a [routerLink] = '"/listquestionbank"'><h2 style="text-align: center; color: black;">View QuestionBank</h2></a><br>
<a [routerLink] = '"/adminlogin"'><h2 style="text-align: center; color: black;">LogOut</h2></a>
</body>
</html>